body {
	margin: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

ul.nav1 {
	background-color: #030303;
}

ul.nav2 {
	background-color: #030350;
}

.nav1 li {
	flex: 0 1 34%;
}

.nav2 li {
	flex: 0 1 20%;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111111;
}






