.actionbuttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.actionbuttons ul li {
	flex: 0 1 100%;
}

.actionbuttons ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

#nflteaminstance {
	margin: 5px;
	border: 5px solid black;
	padding: 10px;
}

.actionbuttons ul li a:hover {
  background-color: #777777;
}